.Footer{
    width: 100%;
    background-color: #282c34;
    color :white; 
    height: 10vh;  
    display: flex;
    align-items: center;
    justify-content: center;

}

.InnerDiv{
    color: white;
}
